* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

div {
  height: 100%;
  background: cadetblue;
}
/*
div {
  height: 50vh;
  font-size: calc(2.4rem + 1vw);
}

div h2 {
}

@media (max-width: 1024px) {
  body {
    background: lightblue;
  }
  html {
    font-size: 50%;
  }
}

.container {
  background: cadetblue;
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}

.box1,
.box2,
.box3 {
  width: 20%;
  height: 10%;
  background: rgb(164, 52, 255);
}

.box1 {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.box2 {
  background: rgb(63, 255, 223);
  position: relative;
  left: 3rem;
}

.box3 {
  background: rgb(29, 29, 29);
  position: sticky;
  top: 0%;       */
/*position: fixed;
  top: 0%;
  left: 10%;
  width: 80%;*/
/*}*/
/*
button {
  padding: 2rem 4rem;
}

button:hover {
  background: lightslategray;
}

button:focus {
  background: rgb(145, 55, 89);
}

input:focus {
  background: rgb(145, 55, 89);
}
*/
/*button:nth-child(n){
  background: rgb(145, 55, 89);
  padding: 2rem 4rem;
  cursor:pointer;
}*/

/* Media Queries
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
}

body {
  background-color: lightgray;
}

@media (max-width: 768px) {
  body {
    background-color: limegreen;
  }
  .tablet {
    font-size: 3.6rem;
  }
}

@media (max-width: 500px) {
  body {
    background-color: rgb(138, 186, 248);
  }

  .mobile {
    font-size: 2.4rem;
  }
}
*/
