books {
  background-color: lightgrey;
  font-family: Verdana, Times, sans-serif;
}

title {
  font-weight: bold;
  color: red;
}
book,
title,
author,
publisher {
  display: block;
}

title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3em;
}

author {
  font-style: italic;
}

book:nth-child(even) {
  background-color: lightblue;
}

Account_Total {
  font-weight: bold;
  color: red;
}
